
<p-panel header="Pre-Operation">
        <div class="panel">
                <div class="col-md-12" style="padding-top:15px;">
                <p-fieldset legend="Past Surgeries/Procedures" [toggleable]="true">
                        <span>Enter all past procedures and surgeries</span>
                    <div class="col-md-12">
                        <h4> <br> Past Procedures </h4>
                        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)" dataKey="uuid">
                            <p-column field="patientName" header="Procedure Name"></p-column>
                            <p-column field="description" header="Date"></p-column>
                            <p-column field="description" header="Comment"></p-column>
              
                        </p-dataTable>
                        <span> <br> Name: </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <span> <br> Date:  </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <span> <br> Comments: </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <br>
                        <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
                    </div>
                </p-fieldset>
                <br>
                <p-fieldset legend="Allergies" [toggleable]="true" [collapsed]="true">
                    <div class="col-md-12">
                        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)" dataKey="uuid">
                            <p-column field="patientName" header="Allergy"></p-column>
                            <p-column field="description" header="Reaction"></p-column>
                        </p-dataTable>
                        <br>
                        <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
                    </div>
                </p-fieldset>
                <br>
                <p-fieldset legend="Pre-Theater Prescriptions" [toggleable]="true" [collapsed]="true">
                    <div class="col-md-12">
                            <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)" dataKey="uuid">
                            <p-column field="patientName" header="Events"></p-column>
                            <p-column field="description" header="Date"></p-column>
                            <p-column field="description" header="Comments"></p-column>
                            
                        </p-dataTable>
                        <span> <br>Note That the Prepreparatory Prescriptions to be taken before the procedure </span>
            
                        <span> <br> Name: </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <span> <br> Quantity:  </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <span> <br> Comments: </span>
                        <span class="ui-inputgroup" style="width:300px;">
                            <input type="text" pInputText >
                        </span>
                        <br>
                        <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
                    </div>
                    </p-fieldset>
                </div>
            </div>
    .

</p-panel>