<div class="ui-g-12" style="text-align:center; background-color:rgb(214, 205, 205); height:140px; margin-bottom: 5px;">
  <div class="ui-g-2 circleBase type1">
    <img src="../assets/patient.png" height="50" width="50">
  </div>
  <div class="text-align:center;">
    <p>{{patientList.name}}
      <br> {{patientList.id}}
      <br>
      <b style="color:#F83B3B;">{{patientList.care}} </b>
    </p>
  </div>
  <div class="ui-g-12" style="text-align: center;">
    <!--<div class="ui-g-6 ui-toolbar-group-left">
      <button pButton type="button" label="End" class="ui-button-danger"></button>

    </div>
    <div class="ui-g-6 ui-toolbar-group-right"> -->
      <button pButton type="button" label="Scedule Surgery" class="ui-button-success"></button>
    <!--</div> -->
  </div>
</div>