.circleBase {
    border-radius: 50%;
    margin-top:10px;
}
.type1 {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
}
.tempclass:hover{
    text-align:center; 
    background-color:#C9BEBE; 
    height:500px;
    width:500px;
}