<p-panel header="Operation">
  <div >
    <div class="col-md" style="padding-top:15px;">
      <p-fieldset [toggleable]="true" legend="Procedures">
        <span>Procedure Name: </span>
        <div class="ui-inputgroup" style="width:300px;">
          <input type="text" pInputText placeholder="Procedure">
          <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
        </div>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" legend="Surgens">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Surgen Name"></p-column>
          <p-column field="description" header="Action"></p-column>
        </p-dataTable>
        <span>
          <br> Surgen Name: </span>
        <span class="ui-inputgroup" style="width:300px;">
          <input type="text" pInputText placeholder="Surgen Name">
          <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
        </span>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="Past Procedures">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Procedure"></p-column>
          <p-column field="description" header="Date"></p-column>
          <p-column field="description" header="Comments"></p-column>
        </p-dataTable>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="Allergies">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Allergy"></p-column>
          <p-column field="description" header="Reaction"></p-column>
        </p-dataTable>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="Pre-theater Prescriptions">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Events"></p-column>
          <p-column field="description" header="Date"></p-column>
        </p-dataTable>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="In-theater Prescriptions">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Events"></p-column>
          <p-column field="description" header="Date"></p-column>
        </p-dataTable>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="Post Theater Prescriptions">
        <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
          dataKey="uuid">
          <p-column field="patientName" header="Events"></p-column>
          <p-column field="description" header="Date"></p-column>
        </p-dataTable>
      </p-fieldset>
      <br>
      <p-fieldset [toggleable]="true" [collapsed]="true" legend="Surgery Notes">
        <p> No Notes Found </p>
        <br>
        <textarea rows="5" placeholder="Enter Notes and Add" cols="30" pInputTextarea></textarea>
        <br>
        <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
      </p-fieldset>
    </div>


    <div class="col-md-4">
      <br>
      <!--<p-fieldset legend="General Actions">
            <div style="margin-top:-15px;margin-bottom:10px;">
            <a href="#" class="col-md-12"> <i class="glyphicon glyphicon-heart"></i>  Open Surgeries</a>
            <a  class="col-md-12"> <i class="glyphicon glyphicon-plus"></i> Add Pre-theater Data</a>
            <a  class="col-md-12"> <i class="glyphicon glyphicon-plus"></i> Add Post-theater Data</a>
            <a href="#" class="col-md-12"><i class="glyphicon glyphicon-play-circle"></i> Begin Surgery</a>
            <a href="#" class="col-md-12"><i class="glyphicon glyphicon-record"></i> Finish Surgery </a>
          </div>
          
        <h4> <br><br> Key Events </h4>
          <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)" dataKey="uuid">
              <p-column field="patientName" header="Events"></p-column>
              <p-column field="description" header="Date"></p-column>
          </p-dataTable>
    </p-fieldset> -->

    </div>
    .
  </div>
  .
</p-panel>