<!-- <p-steps (activeIndexChange)="callFunc($event)" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
-->

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" (click)="prevFunc()" label="Previous Page"></button>


    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" (click)="nextFunc()" label="Next Page"></button>

    </div>
</p-toolbar>
<br>
<div *ngIf="pageNum == 1">
    <h3> Patient Visit Page</h3>

    <p-toolbar>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Start Visit" class="ui-button-success"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Cancel" class="ui-button-danger"></button> &nbsp;

        </div>
    </p-toolbar>

    <div class="ui-g-12">
        <p-tabView [activeIndex]="index">
            <p-tabPanel header="Triage Asessment">
                Content 1
            </p-tabPanel>
            <p-tabPanel header="Bio Physical Details">
                Content 2
            </p-tabPanel>
        </p-tabView>
    </div>
    <br>
    <p-fieldset legend="Priority">
        <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
    </p-fieldset>
    <br>
    <p-fieldset legend="Referrals">
        <p-selectButton [options]="types2" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
        <br>
        <div class="ui-g-12">
            <p-tabView>
                <p-tabPanel *ngFor="let content of selectedTypes" header="{{content}}">
                    {{content}} 1
                </p-tabPanel>
            </p-tabView>
        </div>
    </p-fieldset>

</div>

<div *ngIf="pageNum == 2">
    <div class="ui-g-12">
        <h3>Search A Patient</h3>
        <p-autoComplete [(ngModel)]="patient" [suggestions]="filteredPatients" (completeMethod)="filterPatients($event)" [size]="120"
            [minLength]="1" placeholder="Start Typing A Name">
            <ng-template let-patient pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:18px;margin:10px 10px 0 0">{{patient}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2" style="background-color:#F83B3B; border:1px solid #F83B3B; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P1 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color:#EE7F4B; border:1px solid #EE7F4B; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P2 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color: #ffc107; border:1px solid  #ffc107; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P3 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color:#56A100; border:1px solid #56A100; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P4 </h4>
            </b>
        </div>
    </div>
    <div class="ui-g-12" style="margin-top: -15px;">
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #F83B3B; margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P1'" [patientList]="patient"> </app-card>
            </p>

        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #EE7F4B;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P2'" [patientList]="patient"> </app-card>
            </p>
        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid  #ffc107;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P3'" [patientList]="patient"> </app-card>
            </p>
        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #56A100;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P4'" [patientList]="patient"> </app-card>
            </p>
        </div>
    </div>
</div>

<div *ngIf="pageNum == 3">
    <div class="ui-g-12">
        <div class="ui-g-3 circleBase type1">
            <img src="../assets/patient.png" height="70" width="70">
        </div>
        <div class="ui-g-9">
            <h4> Patient Name </h4>
            <p> MRN Number </p>
            <p> Other Info </p>
        </div>
    </div>
    <div class="ui-g-12">
        <legend>
            <h3>
                Demographics
            </h3>
        </legend>
        <p class="ui-g-2"> Name: </p>
        <p class="ui-g-9"> ABC Khan </p>
        <p class="ui-g-2"> Date Of Birth: </p>
        <p class="ui-g-9"> 10-11-1993 </p>
        <p class="ui-g-2"> MRN: </p>
        <p class="ui-g-9"> UCL-123456 </p>
        <p class="ui-g-2"> Registration Date: </p>
        <p class="ui-g-9"> 10-11-2017 </p>
    </div>
    <div class="ui-g-12">
        <legend>
            <h3> Contact Information </h3>
        </legend>
        <div class="ui-g-5" style="border-right: 1px solid #e1e2e4;">
            <h4>
                <b> Adress </b>
            </h4>
            <p class="ui-g-3"> Adress: </p>
            <p class="ui-g-7"> ABC Street </p>
            <p class="ui-g-3"> City: </p>
            <p class="ui-g-7"> Rawalpindi </p>
            <p class="ui-g-3"> Country: </p>
            <p class="ui-g-7"> Pakistan </p>
            <p class="ui-g-3"> Postal Code: </p>
            <p class="ui-g-7"> 46000 </p>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-6">
            <h4>
                <b> Contact </b>
            </h4>
            <p class="ui-g-3"> Phone: </p>
            <p class="ui-g-7"> 1234566 </p>
            <p class="ui-g-3"> Landline: </p>
            <p class="ui-g-7"> 1234566 </p>
            <p class="ui-g-3"> Email: </p>
            <p class="ui-g-7"> abcd@gmail.com </p>
            <p class="ui-g-3"> Emergency: </p>
            <p class="ui-g-7"> 1234566 </p>
        </div>
    </div>
</div>

<div *ngIf="pageNum == 4">

    <div class="ui-g-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <h5> Patient Name </h5>
            </div>

            <div class="ui-toolbar-group-right">
                <button pButton type="button" icon="fa-link"></button>
                <button pButton type="button" icon="fa-pencil-square-o"></button>
                <button pButton type="button" icon="fa-info"></button>
                <button pButton type="button" icon="fa-trash"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2">
            <p-menu [model]="items"></p-menu>
        </div>
        <div class="ui-g-7">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Godfather I">
                    <p-header>
                        Header Content 1
                        <p class="ui-toolbar-group-right">Header Content 2</p>
                    </p-header>
                    Body Content
                    <legend style="margin-top: 15px;"> </legend>
                    <button pButton type="button" icon="fa-pencil-square-o" class="ui-toolbar-group-right"></button>
                    <button pButton type="button" icon="fa-trash"></button>
                </p-accordionTab>
                <p-accordionTab header="Godfather II">
                    <p-header>
                        Header Content 1
                        <p class="ui-toolbar-group-right">Header Content 2</p>
                    </p-header>
                    Body Content
                    <legend style="margin-top: 15px;"> </legend>
                    <button pButton type="button" icon="fa-pencil-square-o" class="ui-toolbar-group-right"></button>
                    <button pButton type="button" icon="fa-trash" class="ui-toolbar-group-left"></button>
                </p-accordionTab>
                <p-accordionTab header="Godfather III">
                    <p-header>
                        Header Content 1
                        <p class="ui-toolbar-group-right">Header Content 2</p>
                    </p-header>
                    Body Content
                    <legend style="margin-top: 15px;"> </legend>
                    <button pButton type="button" icon="fa-pencil-square-o" class="ui-toolbar-group-right"></button>
                    <button pButton type="button" icon="fa-trash"></button>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="ui-g-3">
            <p-panel header="Title">
                Content
            </p-panel>
            <br>
            <p-panel header="Title">
                Content
            </p-panel>
        </div>
    </div>
</div>
<div *ngIf="pageNum == 5">

    <div>
        Info Tab
    </div>
    <br>
    <p-panel header="Title">
        <br>
        <div>
            <p-steps [model]="itemsSteps" [(activeIndex)]="activeIndexSteps" styleClass="steps-custom" [readonly]="false"></p-steps>
        </div>
        <br>
        <div *ngIf="activeIndexSteps == 0">
            <app-create-operation></app-create-operation>
        </div>
        <div *ngIf="activeIndexSteps == 1">
            <app-operation></app-operation>
        </div>
        <div *ngIf="activeIndexSteps == 2">
            <app-post-operation></app-post-operation>
        </div>
        <div *ngIf="activeIndexSteps == 3">
            <app-step4></app-step4>
        </div>
        <div *ngIf="activeIndexSteps == 4">
            <app-follow-up></app-follow-up>
        </div>
    </p-panel>
</div>
<div *ngIf="pageNum == 6">
    <div class="ui-g-12">
        <h3>Search A Patient</h3>
        <p-autoComplete [(ngModel)]="patient" [suggestions]="filteredPatients" (completeMethod)="filterPatients($event)" [size]="120"
            [minLength]="1" placeholder="Start Typing A Name">
            <ng-template let-patient pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div style="font-size:18px;margin:10px 10px 0 0">{{patient}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-2" style="background-color:#F83B3B; border:1px solid #F83B3B; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P1 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color:#EE7F4B; border:1px solid #EE7F4B; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P2 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color: #ffc107; border:1px solid  #ffc107; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P3 </h4>
            </b>
        </div>
        <div class="ui-g-2" style="background-color:#56A100; border:1px solid #56A100; color:white; text-align:center; margin-right:10px; height:50px;">
            <b>
                <h4> P4 </h4>
            </b>
        </div>
    </div>
    <div class="ui-g-12" style="margin-top: -15px;">
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #F83B3B; margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P1'" [patientList]="patient"> </app-card>
            </p>

        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #EE7F4B;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P2'" [patientList]="patient"> </app-card>
            </p>
        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid  #ffc107;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P3'" [patientList]="patient"> </app-card>
            </p>
        </div>
        <div class="ui-g-2 scrollbar" id="style-3" style="border:1px solid #56A100;margin-right:10px; height:600px;">
            <p *ngFor="let patient of patientsList">
                <app-card *ngIf="patient.priority ==  'P4'" [patientList]="patient"> </app-card>
            </p>
        </div>
    </div>

</div>

<div *ngIf="pageNum == 7">
    <p-panel header="Schedule Surgery">
        <div style="margin-left: 70px;">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-5">
                    <label class="col-md-5">Procedure Name:
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <p-autoComplete appendTo="body" size="57" [(ngModel)]="selectedProcedure" [suggestions]="procedures" (completeMethod)="search($event)"></p-autoComplete>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">Date
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <!--<p-calendar appendTo="body" size="100"[(ngModel)]="dateSel" [showTime]="true"></p-calendar>
                        -->
                        <input id="input" type="text" size="60" pInputText [(ngModel)]="text">

                    </div>
                </div>
            </div>

            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-5">
                    <label class="col-md-5">Intervention Duration:
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <input id="input" type="text" size="60" pInputText [(ngModel)]="text"> </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">OT Prepatation Duration
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <input id="input" type="text" size="60" pInputText [(ngModel)]="text"> </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-5">
                    <label class="col-md-5">Inpatient Stay Duration
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <input id="input" type="text" size="60" pInputText [(ngModel)]="text"> </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-5">Surgens
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <input id="input" type="text" size="60" pInputText [(ngModel)]="text"> </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:10px;">
                <div class="col-md-12">
                    <label class="col-md-5">Description:
                        <span style="color:red;">*</span>
                    </label>
                    <div class="col-md-12">
                        <textarea rows="6" cols="131" pInputTextarea autoResize="autoResize"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <br>
                    <div class="col-md-5" style="margin-left:10px;">
                        <button pButton type="button" label="Cancel" (click)="closePopup()" class="ui-button-danger ui-toolbar-group-left"></button>
                    </div>
                    <div class="col-md-6">
                        <button pButton style="margin-right:130px;" type="button" label="Save" (click)="saveDrugOrder()" class="ui-button-success ui-toolbar-group-right"></button>
                    </div>
                </div>
            </div>
            .
        </div>
    </p-panel>
    <!--<p-schedule  [header]="header" [eventLimit]="4" [editable]="true"></p-schedule> -->
</div>