<p-panel header="Post Operation">
  <div class="">
    <div class="" style="padding-top:15px;">
      <p-fieldset legend="In Theater Data" [toggleable]="true">
        <span>Note: The Prescriptions Administered During Procedure</span>
        <div class="col-md-12">
          <br>
          <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
            dataKey="uuid">
            <p-column field="patientName" header="Name"></p-column>
            <p-column field="description" header="Quantity"></p-column>
            <p-column field="description" header="Time And Notes"></p-column>

          </p-dataTable>
          <span>
            <br> Name: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <span>
            <br> Quantity: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <span>
            <br> Time And Notes: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <br>
          <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
        </div>
      </p-fieldset>
      <br>
      <p-fieldset legend="Surgery Notes" [toggleable]="true" [collapsed]="true">
        <div class="col-md-12">
          <p> No Notes Found Yet</p>
          <textarea placeholder="Enter Notes and Add" rows="5" cols="30" pInputTextarea></textarea>
          <br>
          <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
        </div>
      </p-fieldset>
      <br>
      <p-fieldset legend="Post-Theater Prescriptions" [toggleable]="true" [collapsed]="true">
        <div class="col-md-12">
          <p-dataTable [value]="surgeries" selectionMode="single" [(selection)]="selectedSergeries" (onRowSelect)="onRowSelect($event)"
            dataKey="uuid">
            <p-column field="patientName" header="Events"></p-column>
            <p-column field="description" header="Date"></p-column>
            <p-column field="description" header="Comments"></p-column>

          </p-dataTable>
          <span>
            <br>Note That the Prescriptions to be taken after the procedure </span>

          <span>
            <br> Name: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <span>
            <br> Quantity: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <span>
            <br> Comments: </span>
          <span class="ui-inputgroup" style="width:300px;">
            <input type="text" pInputText>
          </span>
          <br>
          <button pButton type="button" label="Add" (click)="saveDrugOrder()" class="ui-button-success"></button>
        </div>
      </p-fieldset>
    </div>
  </div>

</p-panel>